In [296]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import seaborn as sns
import math
from sklearn import preprocessing
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
# Pipeline
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import plot_confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
# Cost Functions
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

# Preprocessing
from sklearn.impute import SimpleImputer

# Scalers
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MinMaxScaler

# Feature Engineering
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [297]:
stc = pd.read_csv("HandestsSTC.csv")

In [298]:
stc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 20 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   CAL_DT            1048575 non-null  object
 1   MODEL_NAME        1048575 non-null  object
 2   BRAND_FULL_NAME   1048575 non-null  object
 3   BRAND_NAME        1048575 non-null  object
 4   VENDOR_NAME       1048575 non-null  object
 5   OS_NAME           1048575 non-null  object
 6   DEVICE_TYPE       1048575 non-null  object
 7   _2G_FLG           1048575 non-null  object
 8   _3G_FLG           1048575 non-null  object
 9   _4G_FLG           1048575 non-null  object
 10  WIFI_FLG          1048575 non-null  object
 11  BLUETOOTH_FLG     1048575 non-null  object
 12  TOUCH_SCREEN_FLG  1048575 non-null  object
 13  DUAL_SIM_FLG      1048575 non-null  object
 14  GENDER_TYPE_CD    939245 non-null   object
 15  AGE_B             1048575 non-null  object
 16  NATIONALITY_CD    925709 non-null   object
 17  NATIONALITY_NAME  925933 non-null   object
 18  SAUDI_NON_SAUDI   1048082 non-null  object
 19  DEVICE_COUNT      1048086 non-null  object
dtypes: object(20)
memory usage: 160.0+ MB

In [299]:
stc.isna().sum()

CAL_DT                   0
MODEL_NAME               0
BRAND_FULL_NAME          0
BRAND_NAME               0
VENDOR_NAME              0
OS_NAME                  0
DEVICE_TYPE              0
_2G_FLG                  0
_3G_FLG                  0
_4G_FLG                  0
WIFI_FLG                 0
BLUETOOTH_FLG            0
TOUCH_SCREEN_FLG         0
DUAL_SIM_FLG             0
GENDER_TYPE_CD      109330
AGE_B                    0
NATIONALITY_CD      122866
NATIONALITY_NAME    122642
SAUDI_NON_SAUDI        493
DEVICE_COUNT           489
dtype: int64

In [300]:
stc.describe()

,CAL_DT,MODEL_NAME,BRAND_FULL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,BLUETOOTH_FLG,TOUCH_SCREEN_FLG,DUAL_SIM_FLG,GENDER_TYPE_CD,AGE_B,NATIONALITY_CD,NATIONALITY_NAME,SAUDI_NON_SAUDI,DEVICE_COUNT
count,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,939245,1048575,925709,925933,1048082,1048086
unique,24,825,1061,205,114,15,6,6,6,5,6,4,4,3,4,8,206,210,43,2078
top,6/30/2019,X2-00,Pro Edition,Nokia,Google,Android,Smartphone,Y,Y,N,Y,Y,Y,Y,Male,36-55,IND,India,Non-Saudi,1
freq,50969,1712,2337,249867,619471,619471,707772,1042229,721128,572605,731780,966535,700537,744691,653638,306523,77367,77367,908116,473326

In [301]:
stc.describe(exclude='number')

,CAL_DT,MODEL_NAME,BRAND_FULL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,BLUETOOTH_FLG,TOUCH_SCREEN_FLG,DUAL_SIM_FLG,GENDER_TYPE_CD,AGE_B,NATIONALITY_CD,NATIONALITY_NAME,SAUDI_NON_SAUDI,DEVICE_COUNT
count,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,939245,1048575,925709,925933,1048082,1048086
unique,24,825,1061,205,114,15,6,6,6,5,6,4,4,3,4,8,206,210,43,2078
top,6/30/2019,X2-00,Pro Edition,Nokia,Google,Android,Smartphone,Y,Y,N,Y,Y,Y,Y,Male,36-55,IND,India,Non-Saudi,1
freq,50969,1712,2337,249867,619471,619471,707772,1042229,721128,572605,731780,966535,700537,744691,653638,306523,77367,77367,908116,473326

In [302]:
stc_d=stc.copy()

In [303]:
stc_d.duplicated().sum()

2293

In [304]:
stc_d.drop_duplicates(inplace=True)

In [305]:
stc_d.duplicated().sum()

0

In [306]:
stc_d.dropna(axis=0,inplace=True)

In [307]:
stc_d.isna().sum()

CAL_DT              0
MODEL_NAME          0
BRAND_FULL_NAME     0
BRAND_NAME          0
VENDOR_NAME         0
OS_NAME             0
DEVICE_TYPE         0
_2G_FLG             0
_3G_FLG             0
_4G_FLG             0
WIFI_FLG            0
BLUETOOTH_FLG       0
TOUCH_SCREEN_FLG    0
DUAL_SIM_FLG        0
GENDER_TYPE_CD      0
AGE_B               0
NATIONALITY_CD      0
NATIONALITY_NAME    0
SAUDI_NON_SAUDI     0
DEVICE_COUNT        0
dtype: int64

In [308]:
stc_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836526 entries, 0 to 1048574
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CAL_DT            836526 non-null  object
 1   MODEL_NAME        836526 non-null  object
 2   BRAND_FULL_NAME   836526 non-null  object
 3   BRAND_NAME        836526 non-null  object
 4   VENDOR_NAME       836526 non-null  object
 5   OS_NAME           836526 non-null  object
 6   DEVICE_TYPE       836526 non-null  object
 7   _2G_FLG           836526 non-null  object
 8   _3G_FLG           836526 non-null  object
 9   _4G_FLG           836526 non-null  object
 10  WIFI_FLG          836526 non-null  object
 11  BLUETOOTH_FLG     836526 non-null  object
 12  TOUCH_SCREEN_FLG  836526 non-null  object
 13  DUAL_SIM_FLG      836526 non-null  object
 14  GENDER_TYPE_CD    836526 non-null  object
 15  AGE_B             836526 non-null  object
 16  NATIONALITY_CD    836526 non-null  object
 17  NATIONALITY_NAME  836526 non-null  object
 18  SAUDI_NON_SAUDI   836526 non-null  object
 19  DEVICE_COUNT      836526 non-null  object
dtypes: object(20)
memory usage: 134.0+ MB

In [312]:
stc_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836526 entries, 0 to 1048574
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CAL_DT            836526 non-null  object
 1   MODEL_NAME        836526 non-null  object
 2   BRAND_FULL_NAME   836526 non-null  object
 3   BRAND_NAME        836526 non-null  object
 4   VENDOR_NAME       836526 non-null  object
 5   OS_NAME           836526 non-null  object
 6   DEVICE_TYPE       836526 non-null  object
 7   _2G_FLG           836526 non-null  object
 8   _3G_FLG           836526 non-null  object
 9   _4G_FLG           836526 non-null  object
 10  WIFI_FLG          836526 non-null  object
 11  BLUETOOTH_FLG     836526 non-null  object
 12  TOUCH_SCREEN_FLG  836526 non-null  object
 13  DUAL_SIM_FLG      836526 non-null  object
 14  GENDER_TYPE_CD    836526 non-null  object
 15  AGE_B             836526 non-null  object
 16  NATIONALITY_CD    836526 non-null  object
 17  NATIONALITY_NAME  836526 non-null  object
 18  SAUDI_NON_SAUDI   836526 non-null  object
 19  DEVICE_COUNT      836526 non-null  object
dtypes: object(20)
memory usage: 134.0+ MB

In [313]:
stc_d['CAL_DT'].unique()

array(['1/31/2019', '12/31/2019', '4/30/2020', '8/31/2019', '6/30/2019',
       '6/30/2020', '7/31/2020', '5/31/2020', '9/30/2020', '1/31/2020',
       '7/31/2019', '10/31/2019', '9/30/2019', '11/30/2019', '2/28/2019',
       '8/31/2020', '3/31/2020', '3/31/2019', '10/31/2020', '12/31/2018',
       '4/30/2019', '11/30/2018', '2/29/2020', '5/31/2019'], dtype=object)

In [314]:
stc_d['MODEL_NAME'].unique()

array(['One x9', 'C7-00', 'Blade V7 Lite', 'i6 Metal ONE', 'One M9',
       'ScanPal EDA50', 'Freddy Dual Sim', 'Xperia L', '101', 'Asha 311',
       'E51', 'Tribute HD', 'Y69', 'ZenFone Live ZB501KL Dual Sim',
       'Xperia XA1 Dual Sim', 'Grand2c', 'it1508', '1680 Classic',
       'itell s501', 'iris 820', 'E65', 'TY301', '2051 Dual',
       'Xperia Z1 LTE', 'SF1', '5800 XpressMusic',
       'Moto E LTE (2nd Generation)', '3120', 'BlackBerry 9810 Torch 2',
       'A3S Single Sim', 'F300', 'X2-01',
       'Moto G Dual Sim (2nd Generation)', 'Fx', 'it2180', '3510i',
       'One Touch 2012D', 'F6 Smartphone', '6 Dual Sim', 'NOTE 4 Pro',
       '7230', '3 Triple Sim', 'X155 Max', 'Xperia Z5 Premium Dual Sim',
       'A6000', 'F2', 'L56i', '301', '103', 'N82', 'ONE 3G HD', 'E5-00',
       '500', 'BL60', 'ELUGA I3', 'HOT S', 'F7', 'NOTE 4 5.7', 'Y21L',
       '3 A3000', 'Xperia Z3+ Dual', 'Xperia M2 Dual', 'N86',
       'Asha 205 Dual SIM', 'it5616', 'Desire 816 Dual Sim', 'Q300',
       '5130 XpressMusic', 'Asha 303', 'Xperia Z2 LTE', 'H45 BOSS',
       'G6+ Dual Sim', '2680 Slide', 'S15', 'i550', 'One M8 Dual Sim',
       '6230i', 'MiniX2-02', 'Desire 828 Dual Sim', 'Moto G5 Plus Dual',
       'Q630', 'Nexus 5X', 'Redmi 3s Dual', 'P7', 'ELUGA I2', 'A39',
       '1616', '6300', 'Mi A1', 'X21', 'BlackBerry 9700 bold',
       'BlackBerry 9790 Bold', 'N96', 'Phantom 6', 'R11',
       'Xperia XZ Dual Sim', 'HOT 4 LTE', 'One Touch 1054 Dual Sim',
       'One Touch PIXI 4 (6) 3G Single Sim', 'kechaoda K116',
       'Desire 530', 'M98', 'S850e', 'M5', 'ZenFone 5 A501CG', 'Nexus 6',
       'E50', 'D54', 'B206 Hero', '2690', 'Y21', 'G360',
       'Xperia M4 Aqua Dual', 'Xperia Z Ultra LTE', '206.1',
       'U5 3G Dual Sim', 'Xperia E4 Dual', 'PHAB 2', '6085h',
       '6303i Classic', '1800', 'One A9', 'P70', 'S302', 'S60',
       'Stylus 2 Dual Sim', 'ELUGA I2 Activ', 'iris Fuel 60', 'Jerry',
       'P6', 'Redmi Note 4X', 'N73', 'ZenFone Max ZC550KL', 'Pixel V2+',
       'L25', 'Xperia Z LTE', 'Moto Z Play Droid Edition', 'Redmi 2',
       'WT18i', 'Vibe K4 Note A7010', 'Desire 728G Dual Sim',
       'Desire 310 Dual Sim', 'T371', 'K8 Plus',
       'Xperia XA2 Ultra Dual Sim', 'Xperia Z2', 'A6 Note', 'Camon C8',
       'U3 3G', 'Halo X LTE', 'C1-00', 'iris 605', 'One M8',
       'Desire 728 LTE Dual Sim', 'One Touch 217', 'F888', 'N22',
       'A5 LED Dual Sim', 'Mi6', '130 Dual SIM', 'U11 Plus Dual Sim',
       '1100', 'V860', 'Vibe C2 Dual Sim', 'Redmi Note 4', 'V10 Dual Sim',
       '2002d', '107 Dual SIM', 'A11', 'X1i-2017', '3110 Classic',
       'MEGA ULTRA OK', '150 Dual SIM', 'Vibe K5 Note A7020',
       '5310 XpressMusic', 'E103', 'Mi A2', 'B101', '6230', 'E71',
       'Fire2 Air LTE', 'K10 2017 Dual Sim', 'V5 Plus', 'C1100',
       'K580 Dual Sim', '2 LTE Dual Sim', 'A290', '230', 'B220', '5110',
       'W76A', 'K7 LTE', 'HD7', 'One Touch PIXI 4 (6) 3G', 'it1408',
       'V47', 'U5 HD Dual Sim', '6120 Classic', 'Asha 305',
       '105 (2015) Dual SIM', '225', 'U11 Dual Sim', 'R9s', 'One E9+',
       'HOT S3', '130 (2017) Dual SIM', 'Asha 502 Dual SIM', 'N79',
       'F9 Pro', 'Desire 826', '1 Dual Sim', '2730 Classic', '2720 Fold',
       'Moto G Dual Sim', 'M1', 'ELUGA Ray 500', 'Duo 405', '6680',
       '108 Dual SIM', 'V11 pro', 'Desire 630 Dual Sim', 'Zero 5 Pro',
       'C1-02', 'WX181', 'Magna Dual', '5 Dual Sim',
       'BlackBerry 9800 Torch', 'BlackBerry 9900 Bold', 'C115',
       'K3 Note K50a40', '6610', 'X1-01', 'T44', 'it5231', '515 Dual SIM',
       'D19', '3', 'B312', '7610 Supernova', 'B13', '5 A5000', 'T528',
       'Y66', 'Redmi Note 3 Pro', 'HOT Note', 'C2-00', 'Mi Max 2', '1280',
       '220 4G Dual Sim', 'Desire 820 Dual Sim', 'K3 Note K50-t5', 'W995',
       '220 Dual SIM', '1110i', 'Y83', 'One LTE', '3T A3010',
       '3X Dual Sim', 'Ice Plus 2', 'K115', 'Mini2', 'Xperia X Dual',
       'A83', 'K9', 'S4', 'Asha 500 Dual SIM', 'Asha 230 Dual SIM',
       'Smart', '1 Plus Dual Sim', 'Phantom 6 Plus', '6021', 'Flash 2017',
       'X Power 2 Dual Sim', 'A369i', 'BlackBerry 9360 Curve',
       'BlackBerry 8520 Curve', 'P101', 'K500', 'L206', 'Riff', 'Y2',
       'W3 LTE', 'T312', 'Kar3', 'G269', 'Moto G5S Plus Dual Sim',
       'NOTE 3 Pro', 'Q5 LTE', 'Redmi 5', 'T3310', 'ELUGA Pulse X',
       'Xperia XZ Premium Dual Sim', 'Spot M11', 'ZUK Z2',
       '7310 Supernova', '2630', 'S650', 'Asha 200', 'Y81', 'K7 Dual Sim',
       'C5-03', 'BOOM J8', 'Desire 650 Dual Sim', 'Desire 620G Dual Sim',
       'Pixel', 'Xperia LT26w acro S', 'A316i', 'B12', 'Xperia SP LTE',
       'Camon C9', 'Classic C130', 'ELUGA Arc2', 'Y51',
       '3310 (2017) 3G Dual SIM', 'K7 SPARK', 'G9', '130', 'VAULT',
       'Realme 1', 'T465', '7610', 'Neo 5', 'Redmi 5A',
       'Desire 10 lifestyle Dual Sim', 'WX3', 'X8', '3500 Classic',
       'Asha 302', 'Motion Dual Sim', 'Fire2 Plus LTE', 'Q10', '5000',
       'One M8 Eye', 'L50', 'C88', 'WX4', 'Asha 308', 'F1 Plus', '2610',
       '5217', 'X240 Series K8 2017 Dual Sim', 'Moto G6 Dual Sim',
       'Xperia LT26i S', 'G6 Dual Sim', 'B102', 'E311', 'R9', 'BM50',
       '8110 (2018) Dual Sim', 'X2-02', 'BlackBerry 9720',
       'Asha 210 Dual SIM', 'M9+', '1208', '6100', '3310 (2017) Dual SIM',
       'Xperia Z5 Dual', 'Xperia Miro', 'Olvio L7', 'TM506', 'Z60',
       'Q4310 Canvas 2', 'Vibe P2', 'D22', '215', 'Y83 Pro', 'it2090',
       'C5', 'Le 2 X526', 'A77', 'Xperia XA Ultra Dual Sim', 'it5600',
       'V10', 'A1', 'Asha 501 Dual SIM', 'Priv', 'ONYX-1s', 'Grand2',
       'Xperia Z3', '230 Dual SIM', 'BlackBerry P9981 Porsche Design',
       'G Flex', 'Asha 306', '106', '6310i', 'C5-00', 'Diamond X',
       'Lumia 625 LTE', 'One Touch 1050 Dual Sim', 'S11 Plus', 'Asha 310',
       'HOT 5', 'Xperia XA1 Plus Dual Sim', 'iris 80', 'X2-05', 'Vibe S1',
       'Lumia 520', 'Lumia 920 LTE', 'Q6 plus Dual Sim',
       'ZenFone Go ZB500KG', 'Vibe B A2016a40', 'Pixel 2', 'B301', 'ONE',
       'L23', 'G3 LTE', 'X Screen Dual Sim', 'Desire 10 pro Dual',
       '5T A5010', 'F1805', 'One Touch PIXI 4 (5.5) Dual Sim', 'K8 Note',
       'R1', 'B200', 'Mi Mix', 'TC56', 'T30', 'ELUGA I3 Mega', '6210',
       'X1', 'ZenFone 3 ZE552KL', 'One Touch PIXI 3 (4) Dual',
       '208 Dual SIM', 'Vibe K6 Dual Sim', 'U800', 'P3000',
       'Desire 12 Dual Sim', 'Desire 830 Dual Sim', 'Vibe Shot',
       'Camon CX', '3100', 'Vibe S1 Lite Dual Sim', 'S90 Sisley',
       '6.1 Plus', 'ARC 101', 'U Play Dual Sim', 'S11', 'L8 Lite',
       'A3 mini', 'Smart1', 'X9', 'ZenFone 3 Max ZC520TL', 'T347',
       'Redmi 3S Prime', 'A1603', 'Xperia C3 Dual', 'S50', '2626',
       'Xperia T3', '5.1 Dual Sim', 'T350', 'E6-00', 'U Ultra Dual',
       'X803', 'ONYX-3s', 'X2 Dual SIM', 'ZVI', 'Xperia XA2 Dual Sim',
       'B103 Joy2', 'Classic Q20', 'P12', 'Secure Phone',
       'Axon Mini Standard', 'A3', 'Iris 41', 'P9', 'Moto G5S Dual Sim',
       '220', '8', '100', 'W1', 'Xperia XA1 Ultra Dual', '108',
       'U12+ Dual Sim', 'iris 860', 'E72', 'K3', 'Xperia L1 Dual Sim',
       'One Touch PIXI 4 (4) Dual Sim', 'Fire2 LTE', 'Vibe X2 LTE',
       '7700 KING SLIDER', 'One Touch 1013 Dual Sim', 'Iris 810', 'KP105',
       'iris 50', 'Mi5 Standard', 'Redmi 6 Pro', 'Note Standard',
       '6500 Slide', 'K10', 'Redmi 2 Prime', 'HOT 5 Lite', '3 Dual Sim',
       'One Max LTE', 'Z10', 'Redmi Note 5A', 'ONYX-3+ LTE', 'Desire 12+',
       'E63', 'L200', 'Vibe C A2020a40', 'Xperia XZ2 Dual Sim',
       'Redmi Note 3 Pro Dual', 'A3 Dual', 'V5s', '1661', 'Hongmi Note 4',
       'PHAB 2 Plus', 'F3', 'X2-00', 'Desire 626 NFC Dual Sim', '1202',
       'SHF33', 'E66', 'Moto X 2017', 'Gpad G3', 'P8 Max', 'Stylo 2',
       '3G-W6', 'RG500', 'L18', 'Desire 526G+ Dual Sim', 'V3', 'P99',
       'A33', 'iris 758', '1110', 'V869 and i9+++', 'Xperia E3 Dual',
       'ICON451', 'One Touch PIXI 4 (5) Dual Sim', 'NOTE 2 4G', 'I',
       'One M9+', 'A369', 'Moto E4 Plus Dual', '6 (2018)', 'P90 LTE',
       'A536', 'Xperia L2 Dual Sim', 'X1 Max', 'A37', '1200',
       '105 (2015)', 'WM850K', 'Y71', 'Mi Max 3', 'S307', 'Redmi Note 3',
       'C6-01', '3109 Classic', '150', 'ZenFone 2 ZE551ML',
       '5030 XpressRadio', 'K37', 'Realme 2', 'Xperia Z1 Compact LTE',
       'V49', 'S555 Max2', 'B17', 'it2150', 'Xperia Z3 Dual', 'KeyOne',
       '2700 Classic', 'A3S', 'Xperia T2 Ultra Dual', 'Tank II',
       'Asha 202', 'S329', 'Z14', '2323 Classic', 'ELUGA I7', 'E60',
       '6700 Classic', '2.1 Dual Sim', 'Lumia 550', 'A395', 'Moto C Plus',
       'Xperia C Dual', 'One Touch 1016 Dual Sim', 'One Touch 1010',
       'SPARK Pro', 'SZL V200 S768 6612 5130', 'F1s', 'U5', 'X E1003',
       'G4 Stylus', 'Vibe B Dual', 'Neo 7', 'A Plus Dual',
       'Moto G (3rd Gen) Dual', 'E1272', 'S61', '7 Plus', 'Mi Mix 2',
       'ZenFone Selfie ZD551KL', 'One Touch PIXI 4 Plus Power Dual',
       'A606', '5230', 'E75', 'B104 Joy 3', '222 Dual SIM', 'iris 702',
       'W3', 'V9 Single Sim', '6T A6010', '8 Sirocco', 'MC659B',
       'One Touch POP 4+ Dual Sim', 'Sunrise', 'L24', 'W4',
       'Lumia 535 Dual Sim', 'ZenFone 2 Laser ZE550KL', '6 A6000', 'V7+',
       'BlackBerry 9220 Curve', 'Xperia XA Dual', 'Redmi Y1 Lite',
       'Mi Max', 'Asha 503 Dual SIM', '6030', 'HOT 4', '105', 'Fast 2',
       'W5 Lite', 'ELUGA Ray 550', '3 A3003', 'A516', 'Camon CM',
       'G3 S Dual Sim', '6630', 'A850', 'B16', 'E52', 'iris 65', 'Z30',
       'Vivo XL2', 'D52i', 'C2-01', 'A190', 'Desire 526 Dual Sim',
       'THRILL POWER N', 'F5', 'One', 'R1s', 'Moto M Dual Sim',
       'Lumia 635', 'ONE A9', '6131', 'A3s', 'N95', 'F286', 'R1S', 'T484',
       'Redmi 6', 'Y55L', 'Redmi 6a', 'S185', 'Vibe K5 Dual A6020a40',
       'L9 Plus', 'Moto G4 Plus Dual', 'One Touch 2007D', 'ELUGA Prim',
       'R3', 'S2', 'S60-a', 'Storm 310', 'A319', 'E10', 'Eluga Mark 2',
       'F1', '6110 Navigator', 'One Touch 1010 Dual Sim', 'S510 Grand 2',
       'Tribute 5', 'One Dual Sim', 'One Touch PIXI First Dual Sim',
       '110', 'Stylus 3 Dual', '1600', 'Joy 3', '6700 Slide', 'Lubi 3',
       '8 LTE Dual Sim', 'A1000', '6555', 'P77', 'Zero 5', 'F1801',
       'A7000', '7100 Supernova', '2008', '2710 Navigation Edition',
       'S856', 'Y55s', 'V30+ Dual SIm', 'Optimus L7', 'Diamond Q4G Plus',
       'Passport', 'X1-00', 'Lumia 540 Dual SIM', '2760', 'F3+',
       'Sunny Max', 'A57', 'Nexus 5', 'C2-01.5', '700', 'Captain N1',
       'Desire 820G+ Dual Sim', 'K116 plus', 'Lumia 640 XL Dual SIM',
       'Asha 300', 'A6600', 'Vibe K6 Power', 'x1', 'B25', 'T401', 'V9',
       'P75', 'Mirror 5', 'S318', 'Q397 Bolt Mega', 'Redmi 4 Dual Sim',
       'G4 Dual', 'SQ35', 'SK1', 'C2', 'Neo 7 LTE', 'it5040',
       'Vibe K5 Plus Dual A6020a46', 'BlackBerry 9320 Curve', '6085',
       'ZenFone 4 Max ZC554KL', 'E170', 'One Touch PIXI', 'Key2 Dual Sim',
       'iris 870', 'Zero 3', '225 mini', '6070', 'K10 Dual Sim', 'Mi4i',
       'X3-00', 'Pouvoir 4 Pro', 'Diva Flex', 'Vibe Z2', 'PHAB', 'G5',
       'A328', '1662', '10 evo', '7070 Prism', 'GX200', '6060', 'B300',
       '114', 'Pro LTE', 'Redmi Y2', 'K350 Serie K8 Dual Sim', 'iris 51',
       'Xperia C4 Dual', '2310', 'Z3 M', 'Desire 628 Dual Sim', 'V3Max',
       'Vision LTE', '3C Dual Sim', 'L16', '6303 Classic', 'ELUGA A3 Pro',
       'E4', 'X Dual SIM', 'Redmi Note 5', '1101',
       'Moto Z2 Play Dual Sim', '112', 'A6010', 'Dolphin CT50', 'V20',
       'Redmi 5 Plus', 'N72', 'Xperia Z3 Compact', 'ONYX-2+ LTE', 'V110',
       'A59', 'A71', 'Redmi 3', 'Pixel XL', 'G4', 'ZUK Z1',
       'Moto G (2nd Generation)', '1203', '215 Dual SIM', 'Desire Eye',
       '6 A6003', '7020', 'Z3 Music', 'A37 Single Sim', 'V7', 'it5020',
       'Slide 2', 'T349', 'Redmi 4X', 'Neffos X1', 'Lumia 630 Dual SIM',
       'Redmi Note 5A Prime', 'Xperia TX', '216 Dual SIM', 'Xperia Z5',
       'BL20', 'M2', 'P8', 'Droid Ultra', '2600 Classic', 'A5000', 'L800',
       'Vibe P1 Dual Sim', 'G5 Dual', '2660', 'X6-00', '301 Dual SIM',
       'Mi A2 Lite'], dtype=object)

In [315]:
stc_d['BRAND_FULL_NAME'].unique()

array(['HTC One x9', 'Nokia C7-00', 'ZTE Blade V7 Lite', ..., 'AGM M2',
       'AVVIO L800', 'Xiaomi Mi A2 Lite'], dtype=object)

In [316]:
stc_d['BRAND_NAME'].unique()

array(['HTC', 'Nokia', 'ZTE', 'QMobile', 'Honeywell', 'Wiko', 'Sony',
       'LG', 'Vivo', 'ASUS', 'Lava', 'Itel', 'I-Life', 'CECT', 'Alcatel',
       'Obi', 'Motorola', 'RIM', 'Oppo', 'Tinmo', 'IKU', 'Gionee',
       'Infinix', 'Lenovo', 'Symphony', 'Innjoo', 'Panasonic', 'OnePlus',
       'QUISWISE', 'MOBO', 'Hope', 'VGO TEL', ' C112', 'BOCOIN', 'Xiaomi',
       'Tecno', 'Kechao', 'HEDY', 'Meizu', 'Four', 'Bird', 'CAT',
       'Sony Ericsson', 'Digiphone', 'CALME', 'Micromax', 'OLA',
       'Philips', 'Hisense', 'Glida', 'Mione', 'Lemon', 'Realme',
       'B.easy', 'Cloudfone', 'Sico', 'Darago', 'G-Tide', 'BlackBerry',
       'Tichips', 'Magnus', 'Google', 'Rivo', 'ENES', 'iBRIT', 'Lephone',
       'SPC', 'CORN', ' C12', 'L8star', 'Citycall', 'Walton', 'HOTWAV',
       'Letv', 'EUROSTAR & Device', 'UMI', 'FERO', 'Zebra', 'OALE',
       'Gfive', 'G.M', 'Star', 'ZTE Axon Mini Standard', 'Mphone',
       'OUKITEL', 'Eyang', 'Xiaomi Mi5 Standard', 'Innjoo Note Standard',
       'Koobee', 'LEAGOO', 'au', 'Tenda', 'RugGear', 'Anycool', 'Option',
       'Kenxinda', 'K-Touch', 'TP-LINK', 'Longcheer', 'DADA', 'BLU',
       'Advan', 'Microsoft', 'XDL', 'M-Tech', 'KGTEL', 'iYou', 'weiimi',
       'EXTREME', 'YAKOYA', 'GIVA', 'Bee', 'MBO', 'Karbonn', 'Comio',
       'XTOUCH', 'UMIDIGI', 'Vell-Com', 'M-Horse', 'Vsun', 'Cubot',
       'Moxee', 'i mobily', 'XLTEL', 'Doro', 'Vmaxx', 'YXTEL', 'ZTC',
       'Neffos', 'DOOGEE', 'Vestel', 'iNEW', 'IXPERIA', 'Beafon',
       'MAXIMUS', 'Condor', 'KOLOR', 'Cagabi', 'Bontel', 'China Mobile',
       'BenQ', 'Telego', 'Ying Tai', 'CK Telecom', 'Evercoss', 'OneClick',
       'TKK', 'Jfone', 'Airmax Mobile', 'Vodafone', 'TRIDENT', 'zee',
       'BUNDY MOBILE', 'STG', 'Geotel', 'Kimfly', 'Mobicel', 'Colors',
       'Nony', '@phone', 'Ulefone', 'IPRO', 'Sugar', 'by2', 'ENERGIZER',
       'Sansui', 'Ctroniq', 'YUHO', 'Do mobile', 'Elephone', 'Fairphone',
       'Gresso', 'Mingren', 'GFEN', 'Vertice', 'SPINUP', 'Celkon',
       'WESTERN', 'NSQ', 'Noal', 'Exmart', 'Mobiistar', 'CELLECOR',
       'HC HICELL', 'Kata', 'Forme', 'Torch', 'PANCO', 'RADISSON',
       'Anoking', 'Nubia', 'Gee Pee', 'moRebile', 'Positivo', 'MLS',
       'Wingtech', 'Siemens', 'Egltel', 'Rocktel', 'Reeder', 'Droid Mini',
       'AGM', 'AVVIO'], dtype=object)

In [317]:
stc_d['VENDOR_NAME'].unique()

array(['Google', 'Nokia', 'Symbian LTD', 'CECT', 'Alcatel', 'RIM',
       'Tinmo Technology', 'IKU', 'ITEL', 'Symphony', 'QUISWISE', 'MOBO',
       'Hope', 'VGO TEL', ' C6500', 'More International Group Limited',
       'Kechao', 'HEDY', 'Aliyun', 'QMobile', 'Four', 'LG', 'Bird',
       'Sony Ericsson', 'Tecno Technology', 'Digiphone', 'CALME',
       'Gionee', 'Micromax', 'Philips', 'unknown', 'Microsoft', 'Lemon',
       'Motorola', 'B.easy', 'Sico', 'Darago', 'Wiko',
       'ZTS International', 'BlackBerry', 'Tichips', 'Magnus', 'Rivo',
       'Lephone', 'Corn', ' C3000', 'L8star', 'Citycall', 'Walton',
       'BOCOIN', 'FERO', 'Kingtech', 'Lava', 'Star', 'Express Logic',
       'Premium Edition', 'Eyang', 'Pro Edition', 'Innjoo', 'Anycool',
       'Kenxinda', 'K-Touch', 'BLU', 'KGTEL', 'iYou', 'Windows Mobile',
       'YAKOYA', 'GIVA', 'Bee', 'Aolixin Technology', 'Vell-Com',
       'i mobily', 'Doro AB', 'YXTEL', 'ZTC', 'Gfive', 'Beafon', 'Condor',
       'Bontel', 'Vmaxx', 'Karbonn', 'ZTE', 'Ying Tai', 'CK Telecom',
       'TKK', 'G.M', 'Vodafone', 'BUNDY MOBILE', 'Mobicel',
       'Shenzhen Nony', 'IPRO', 'by2', 'ENERGIZER', 'LEAGOO', 'XTOUCH',
       'Ctroniq', 'Dinuotong Technology.', 'GFEN', 'OneClick', 'Telego',
       'CAT', 'NSQ', 'Noal Technology', 'CELLECOR', 'Anoking', 'GEEPEE',
       'Phone Care Branch of Axiom Telecom', 'moRebile', 'Positivo',
       'Siemens', 'EGLTEL', 'Motorola Droid Ultra', 'AGM'], dtype=object)

In [318]:
stc_d['OS_NAME'].unique()

array(['Android', 'Symbian', 'Proprietary', 'RIM OS', 'CORN MiniX2-02',
       'Other', 'unknown', 'Windows Phone', 'BlackBerry OS', 'iNOVA 5217',
       'ZTE', 'Xiaomi', 'Innjoo', 'Windows Mobile', 'Droid Maxx'],
      dtype=object)

In [319]:
stc_d['DEVICE_TYPE'].unique()

array(['Smartphone', 'Mobile Phone', ' F1', '6700', 'Google',
       'Droid Mini'], dtype=object)

In [320]:
stc_d['_2G_FLG'].unique()

array(['Y', ' C112', ' C12', 'Android', 'N', 'Motorola'], dtype=object)

In [321]:
stc_d['_3G_FLG'].unique()

array(['Y', 'N', ' C6500', ' C3000', 'Smartphone', 'Google'], dtype=object)

In [322]:
stc_d['_4G_FLG'].unique()

array(['Y', 'N', 'CORN', 'iNOVA', 'Android'], dtype=object)

In [323]:
stc_d['WIFI_FLG'].unique()

array(['Y', 'N', 'CXTEL', 'Z', 'Ema Telecom', 'Smartphone'], dtype=object)

In [324]:
stc_d['BLUETOOTH_FLG'].unique()

array(['Y', 'N', 'Proprietary', 'Z'], dtype=object)

In [325]:
stc_d['TOUCH_SCREEN_FLG'].unique()

array(['Y', 'N', 'Mobile Phone', 'Z'], dtype=object)

In [326]:
stc_d['DUAL_SIM_FLG'].unique()

array(['Y', 'N', 'Z'], dtype=object)

In [327]:
stc_d['GENDER_TYPE_CD'].unique()

array(['Male', 'Female', 'N', 'Y'], dtype=object)

In [328]:
stc_d.drop(stc_d[(stc_d['GENDER_TYPE_CD']=='Y') |(stc_d['GENDER_TYPE_CD']== 'N')].index, axis=0,inplace=True)
stc_d

,CAL_DT,MODEL_NAME,BRAND_FULL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,BLUETOOTH_FLG,TOUCH_SCREEN_FLG,DUAL_SIM_FLG,GENDER_TYPE_CD,AGE_B,NATIONALITY_CD,NATIONALITY_NAME,SAUDI_NON_SAUDI,DEVICE_COUNT
0,1/31/2019,One x9,HTC One x9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,36-55,LKA,Sri Lanka,Non-Saudi,9
3,12/31/2019,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,18-25,BGD,Bangladesh,Non-Saudi,2
5,4/30/2020,Blade V7 Lite,ZTE Blade V7 Lite,ZTE,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,>55,IDN,Indonesia,Non-Saudi,1
6,8/31/2019,i6 Metal ONE,QMobile i6 Metal ONE,QMobile,Google,Android,Smartphone,Y,Y,N,Y,Y,Y,Y,Male,36-55,EGY,Egypt,Non-Saudi,1
8,6/30/2019,One M9,HTC One M9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,N,Male,26-35,SYR,Syria,Non-Saudi,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048568,3/31/2019,E4,QMobile E4,QMobile,QMobile,Proprietary,Mobile Phone,Y,N,N,N,Y,N,Y,Male,>55,SDN,Sudan,Non-Saudi,2
1048569,1/31/2019,F3,Oppo F3,Oppo,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,36-55,DZA,Algeria,Non-Saudi,1
1048572,5/31/2019,X2-00,Nokia X2-00,Nokia,Nokia,Proprietary,Mobile Phone,Y,N,N,N,Y,N,N,Male,36-55,SYR,Syria,Non-Saudi,16
1048573,7/31/2019,Desire 626 NFC Dual Sim,HTC Desire 626 NFC Dual Sim,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,>55,BGD,Bangladesh,Non-Saudi,7
1048574,6/30/2020,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,>55,SAU,Saudi Arabia,Saudi,53

In [329]:
stc_d['GENDER_TYPE_CD'].unique()

array(['Male', 'Female'], dtype=object)

In [330]:
stc_d['AGE_B'].unique()

array(['36-55', '18-25', '>55  ', '26-35', 'NA   ', '<18  '], dtype=object)

In [331]:
stc_d.drop(stc_d[(stc_d['AGE_B']=='Y') | (stc_d['AGE_B']== 'N') | (stc_d['AGE_B']== 'NA   ')].index, axis=0,inplace=True)
stc_d

,CAL_DT,MODEL_NAME,BRAND_FULL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,BLUETOOTH_FLG,TOUCH_SCREEN_FLG,DUAL_SIM_FLG,GENDER_TYPE_CD,AGE_B,NATIONALITY_CD,NATIONALITY_NAME,SAUDI_NON_SAUDI,DEVICE_COUNT
0,1/31/2019,One x9,HTC One x9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,36-55,LKA,Sri Lanka,Non-Saudi,9
3,12/31/2019,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,18-25,BGD,Bangladesh,Non-Saudi,2
5,4/30/2020,Blade V7 Lite,ZTE Blade V7 Lite,ZTE,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,>55,IDN,Indonesia,Non-Saudi,1
6,8/31/2019,i6 Metal ONE,QMobile i6 Metal ONE,QMobile,Google,Android,Smartphone,Y,Y,N,Y,Y,Y,Y,Male,36-55,EGY,Egypt,Non-Saudi,1
8,6/30/2019,One M9,HTC One M9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,N,Male,26-35,SYR,Syria,Non-Saudi,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048568,3/31/2019,E4,QMobile E4,QMobile,QMobile,Proprietary,Mobile Phone,Y,N,N,N,Y,N,Y,Male,>55,SDN,Sudan,Non-Saudi,2
1048569,1/31/2019,F3,Oppo F3,Oppo,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,36-55,DZA,Algeria,Non-Saudi,1
1048572,5/31/2019,X2-00,Nokia X2-00,Nokia,Nokia,Proprietary,Mobile Phone,Y,N,N,N,Y,N,N,Male,36-55,SYR,Syria,Non-Saudi,16
1048573,7/31/2019,Desire 626 NFC Dual Sim,HTC Desire 626 NFC Dual Sim,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,>55,BGD,Bangladesh,Non-Saudi,7
1048574,6/30/2020,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,>55,SAU,Saudi Arabia,Saudi,53

In [332]:
stc_d['AGE_B'].unique()

array(['36-55', '18-25', '>55  ', '26-35', '<18  '], dtype=object)

In [333]:
stc_d['NATIONALITY_CD'].unique()

array(['LKA', 'BGD', 'IDN', 'EGY', 'SYR', 'SAU', 'MRT', 'SDN', 'PAK',
       'UGA', 'YEM', 'MDG', 'IND', 'AFG', 'GBR', 'GHA', 'CYM', 'CMR',
       'ITA', 'SOM', 'NER', 'MAR', 'LBN', 'TUR', 'BHR', 'NPL', 'PHL',
       'LBY', 'BEL', 'ETH', 'UKR', 'OMN', 'NGA', 'TCD', 'NAM', 'JOR',
       'KGZ', 'BFA', 'TUN', 'PSE', 'IRN', 'IRQ', 'UZB', 'MYS', 'CHN',
       'DZA', 'KEN', 'ERI', 'MLI', 'IRL', 'CAN', 'ZAF', 'HND', 'MLT',
       'ALB', 'ARE', 'ROM', 'FRA', 'KWT', 'MOZ', 'THA', 'ESP', 'DEU',
       'CIV', 'BRN', 'SGP', 'TJK', 'LAO', 'AIA', 'DNK', 'BIH', 'BDI',
       'MWI', 'ATG', 'AUS', 'GIN', 'VNM', 'SLE', 'QAT', 'ARM', 'AND',
       'TGO', 'CUB', 'SRB', 'BTN', 'TZA', 'SEN', 'GRC', 'SVK', 'ANT',
       'POL', 'KOR', 'CAF', 'AZE', 'SWE', 'MUS', 'GMB', 'DJI', 'JPN',
       'MAD IS', 'ABW', 'BRB', 'KAZ', 'HRV', 'AUT', 'FIN', 'GUF', 'FRO',
       'BMU', 'LBR', 'VEN', 'NZL', 'COL', 'KHM', 'PRT', 'TWN', 'BEN',
       'BLR', 'NCL', 'TKM', 'COM', 'BRA', 'COK', 'CZE', 'NOR', 'CHL',
       'BGR', 'MKD', 'AGO', 'MEX', 'PAN', 'CYP', 'NIC', 'ZMB', 'BAL IS',
       'EST', 'PNG', 'JAM', 'CRI', 'LIE', 'SUR', 'MHL', 'UN', 'RWA',
       'CHE', 'MMR', 'ZWE', 'TTO', 'HKG', 'MCO', 'PER', 'BHS', 'HUN',
       'FJI', 'RUS', 'WLF', 'GEO', 'BWA', 'PLW', 'GAB', 'GUM', 'BLZ',
       'VGB', 'ARG', 'SVN', 'NLD', 'GRD', 'MAC', 'ISL', 'BOL', 'TMP',
       'MDA', 'LTU', 'PRK', 'DMA', 'NRU', 'LSO', 'ECU', 'GIB', 'USA',
       'URY', 'MNE', 'MDV', 'DGA', 'GUY', 'CPV', 'LUX', 'GNQ', 'CAN IS',
       'HTI', 'PRI', 'DOM', 'WSM', 'SHN', 'TAH', 'MNG', 'NIU', 'KNA'],
      dtype=object)

In [334]:
stc_d.drop(stc_d[(stc_d['NATIONALITY_CD']=='Female') | (stc_d['AGE_B']== 'N') | (stc_d['NATIONALITY_CD']== 'Male')].index, axis=0,inplace=True)
stc_d

,CAL_DT,MODEL_NAME,BRAND_FULL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,BLUETOOTH_FLG,TOUCH_SCREEN_FLG,DUAL_SIM_FLG,GENDER_TYPE_CD,AGE_B,NATIONALITY_CD,NATIONALITY_NAME,SAUDI_NON_SAUDI,DEVICE_COUNT
0,1/31/2019,One x9,HTC One x9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,36-55,LKA,Sri Lanka,Non-Saudi,9
3,12/31/2019,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,18-25,BGD,Bangladesh,Non-Saudi,2
5,4/30/2020,Blade V7 Lite,ZTE Blade V7 Lite,ZTE,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,>55,IDN,Indonesia,Non-Saudi,1
6,8/31/2019,i6 Metal ONE,QMobile i6 Metal ONE,QMobile,Google,Android,Smartphone,Y,Y,N,Y,Y,Y,Y,Male,36-55,EGY,Egypt,Non-Saudi,1
8,6/30/2019,One M9,HTC One M9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,N,Male,26-35,SYR,Syria,Non-Saudi,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048568,3/31/2019,E4,QMobile E4,QMobile,QMobile,Proprietary,Mobile Phone,Y,N,N,N,Y,N,Y,Male,>55,SDN,Sudan,Non-Saudi,2
1048569,1/31/2019,F3,Oppo F3,Oppo,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,36-55,DZA,Algeria,Non-Saudi,1
1048572,5/31/2019,X2-00,Nokia X2-00,Nokia,Nokia,Proprietary,Mobile Phone,Y,N,N,N,Y,N,N,Male,36-55,SYR,Syria,Non-Saudi,16
1048573,7/31/2019,Desire 626 NFC Dual Sim,HTC Desire 626 NFC Dual Sim,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,>55,BGD,Bangladesh,Non-Saudi,7
1048574,6/30/2020,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,>55,SAU,Saudi Arabia,Saudi,53

In [335]:
stc_d['NATIONALITY_CD'].unique()

array(['LKA', 'BGD', 'IDN', 'EGY', 'SYR', 'SAU', 'MRT', 'SDN', 'PAK',
       'UGA', 'YEM', 'MDG', 'IND', 'AFG', 'GBR', 'GHA', 'CYM', 'CMR',
       'ITA', 'SOM', 'NER', 'MAR', 'LBN', 'TUR', 'BHR', 'NPL', 'PHL',
       'LBY', 'BEL', 'ETH', 'UKR', 'OMN', 'NGA', 'TCD', 'NAM', 'JOR',
       'KGZ', 'BFA', 'TUN', 'PSE', 'IRN', 'IRQ', 'UZB', 'MYS', 'CHN',
       'DZA', 'KEN', 'ERI', 'MLI', 'IRL', 'CAN', 'ZAF', 'HND', 'MLT',
       'ALB', 'ARE', 'ROM', 'FRA', 'KWT', 'MOZ', 'THA', 'ESP', 'DEU',
       'CIV', 'BRN', 'SGP', 'TJK', 'LAO', 'AIA', 'DNK', 'BIH', 'BDI',
       'MWI', 'ATG', 'AUS', 'GIN', 'VNM', 'SLE', 'QAT', 'ARM', 'AND',
       'TGO', 'CUB', 'SRB', 'BTN', 'TZA', 'SEN', 'GRC', 'SVK', 'ANT',
       'POL', 'KOR', 'CAF', 'AZE', 'SWE', 'MUS', 'GMB', 'DJI', 'JPN',
       'MAD IS', 'ABW', 'BRB', 'KAZ', 'HRV', 'AUT', 'FIN', 'GUF', 'FRO',
       'BMU', 'LBR', 'VEN', 'NZL', 'COL', 'KHM', 'PRT', 'TWN', 'BEN',
       'BLR', 'NCL', 'TKM', 'COM', 'BRA', 'COK', 'CZE', 'NOR', 'CHL',
       'BGR', 'MKD', 'AGO', 'MEX', 'PAN', 'CYP', 'NIC', 'ZMB', 'BAL IS',
       'EST', 'PNG', 'JAM', 'CRI', 'LIE', 'SUR', 'MHL', 'UN', 'RWA',
       'CHE', 'MMR', 'ZWE', 'TTO', 'HKG', 'MCO', 'PER', 'BHS', 'HUN',
       'FJI', 'RUS', 'WLF', 'GEO', 'BWA', 'PLW', 'GAB', 'GUM', 'BLZ',
       'VGB', 'ARG', 'SVN', 'NLD', 'GRD', 'MAC', 'ISL', 'BOL', 'TMP',
       'MDA', 'LTU', 'PRK', 'DMA', 'NRU', 'LSO', 'ECU', 'GIB', 'USA',
       'URY', 'MNE', 'MDV', 'DGA', 'GUY', 'CPV', 'LUX', 'GNQ', 'CAN IS',
       'HTI', 'PRI', 'DOM', 'WSM', 'SHN', 'TAH', 'MNG', 'NIU', 'KNA'],
      dtype=object)

In [336]:
stc_d['NATIONALITY_NAME'].unique()

array(['Sri Lanka', 'Bangladesh', 'Indonesia', 'Egypt', 'Syria',
       'Saudi Arabia', 'Mauritania', 'Sudan', 'Pakistan', 'Uganda',
       'Yemen', 'Madagascar', 'India', 'Afghanistan', 'United Kingdom',
       'Ghana', 'Cayman Islands', 'Cameroon', 'Italy', 'Somalia', 'Niger',
       'Morocco', 'Lebanon', 'Turkey', 'Bahrain', 'Nepal', 'Philippines',
       'Libya', 'Belgium', 'Ethiopia', 'Ukraine', 'Oman', 'Nigerian',
       'Chad', 'Namibia', 'Jordan', 'Kyrgyzstan', 'Burkina Faso',
       'Tunisia', 'Palestine', 'Iran', 'Iraq', 'Uzbekistan', 'Malaysia',
       'China', 'Algeria', 'Kenya', 'Eritrea', 'Mali', 'Ireland',
       'Canada', 'South Africa', 'Honduras', 'Malta', 'Albania',
       'United Arab Emirates', 'Romania', 'France', 'Kuwait',
       'Mozambique', 'Thailand', 'Spain', 'Germany', 'Cote De Voire',
       'Brunei', 'Singapore', 'Tajikistan', 'Laos', 'Anguilla', 'Denmark',
       'Bosnia and Herzegovina', 'Burundi', 'Malawi', 'Antigua',
       'Australia', 'Guinea', 'Vietnam', 'Sierra Leone', 'Qatar',
       'Armenia', 'Andorra', 'Togo', 'Cuba', 'Serbia', 'Bhutan',
       'Tanzania', 'Senegal', 'Greece', 'Solvakian',
       'Netherlands Antilles islands', 'Poland', 'South Korea',
       'Central African Republic', 'Azerbaijan', 'Sweden', 'Mauritius',
       'Gambia', 'Djibouti', 'Japan', 'Madeira Islands', 'Aruba',
       'Barbados', 'Kazakhstan', 'Croatia', 'Austria', 'Finland',
       'French Guiana', 'Faroe Islands', 'Bermuda', 'Liberia',
       'Venezuela', 'New Zealand', 'Colombia', 'Cambodia', 'Portugal',
       'Taiwan', 'Benin', 'Belarus', 'Caledonia', 'Turkmenistan',
       'Comoros Islands', 'Brazil', 'Cook Islands', 'Czech Republic',
       'Norway', 'Chile', 'Bulgaria', 'Macedonia', 'Angola', 'Mexico',
       'Panama', 'Cyprus', 'Nicaragua', 'Zambia', 'Balearic Islands',
       'Estonia', 'Papua New Guinea', 'Jamaica', 'Coasta Rican',
       'Liechtenstein', 'Suriname', 'Marshall Islands', 'United Nations',
       'Rwanda', 'Switzerland', 'Burma (Myanmar)', 'Zimbabwe',
       'Trinidad and Tobago', 'Hong Kong', 'Monaco', 'Peru', 'Bahamas',
       'Hungary', 'Fiji', 'Russia', 'Wallis and Futuna', 'Georgia',
       'Botswana', 'Palau', 'Gabon', 'Guam', 'Belize',
       'British Virgin Islands', 'Argentina', 'Slovenia', 'Netherlands',
       'Grenada', 'Macau', 'Iceland', 'Bolivia', 'East Timor', 'Moldova',
       'Lithuania', 'North Korea', 'Dominica', 'Nauru', 'Lesotho',
       'Ecuador', 'Gibraltar', 'United States', 'Uruguay', 'Montenegro',
       'Maldives', 'Diego Garcia', 'British Guyana', 'Cape Verde',
       'Luxembourg', 'Equatorial Guinea', 'Canary Islands', 'Haiti',
       'Puerto Rico', 'Dominican Republic', 'Samoa', 'Saint Helena',
       'Tahiti', 'Mongolia', 'Niue Islands', 'Saint Kitts and Nevis'],
      dtype=object)

In [337]:
stc_d.drop(stc_d[(stc_d['NATIONALITY_NAME']=='18-25') | (stc_d['NATIONALITY_NAME']== '<18  ') | (stc_d['NATIONALITY_NAME']== 'N') | (stc_d['NATIONALITY_NAME']== 'NA   ')].index, axis=0,inplace=True)
stc_d

,CAL_DT,MODEL_NAME,BRAND_FULL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,BLUETOOTH_FLG,TOUCH_SCREEN_FLG,DUAL_SIM_FLG,GENDER_TYPE_CD,AGE_B,NATIONALITY_CD,NATIONALITY_NAME,SAUDI_NON_SAUDI,DEVICE_COUNT
0,1/31/2019,One x9,HTC One x9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,36-55,LKA,Sri Lanka,Non-Saudi,9
3,12/31/2019,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,18-25,BGD,Bangladesh,Non-Saudi,2
5,4/30/2020,Blade V7 Lite,ZTE Blade V7 Lite,ZTE,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,>55,IDN,Indonesia,Non-Saudi,1
6,8/31/2019,i6 Metal ONE,QMobile i6 Metal ONE,QMobile,Google,Android,Smartphone,Y,Y,N,Y,Y,Y,Y,Male,36-55,EGY,Egypt,Non-Saudi,1
8,6/30/2019,One M9,HTC One M9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,N,Male,26-35,SYR,Syria,Non-Saudi,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048568,3/31/2019,E4,QMobile E4,QMobile,QMobile,Proprietary,Mobile Phone,Y,N,N,N,Y,N,Y,Male,>55,SDN,Sudan,Non-Saudi,2
1048569,1/31/2019,F3,Oppo F3,Oppo,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,36-55,DZA,Algeria,Non-Saudi,1
1048572,5/31/2019,X2-00,Nokia X2-00,Nokia,Nokia,Proprietary,Mobile Phone,Y,N,N,N,Y,N,N,Male,36-55,SYR,Syria,Non-Saudi,16
1048573,7/31/2019,Desire 626 NFC Dual Sim,HTC Desire 626 NFC Dual Sim,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,>55,BGD,Bangladesh,Non-Saudi,7
1048574,6/30/2020,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,>55,SAU,Saudi Arabia,Saudi,53

In [338]:
stc_d['NATIONALITY_NAME'].unique()

array(['Sri Lanka', 'Bangladesh', 'Indonesia', 'Egypt', 'Syria',
       'Saudi Arabia', 'Mauritania', 'Sudan', 'Pakistan', 'Uganda',
       'Yemen', 'Madagascar', 'India', 'Afghanistan', 'United Kingdom',
       'Ghana', 'Cayman Islands', 'Cameroon', 'Italy', 'Somalia', 'Niger',
       'Morocco', 'Lebanon', 'Turkey', 'Bahrain', 'Nepal', 'Philippines',
       'Libya', 'Belgium', 'Ethiopia', 'Ukraine', 'Oman', 'Nigerian',
       'Chad', 'Namibia', 'Jordan', 'Kyrgyzstan', 'Burkina Faso',
       'Tunisia', 'Palestine', 'Iran', 'Iraq', 'Uzbekistan', 'Malaysia',
       'China', 'Algeria', 'Kenya', 'Eritrea', 'Mali', 'Ireland',
       'Canada', 'South Africa', 'Honduras', 'Malta', 'Albania',
       'United Arab Emirates', 'Romania', 'France', 'Kuwait',
       'Mozambique', 'Thailand', 'Spain', 'Germany', 'Cote De Voire',
       'Brunei', 'Singapore', 'Tajikistan', 'Laos', 'Anguilla', 'Denmark',
       'Bosnia and Herzegovina', 'Burundi', 'Malawi', 'Antigua',
       'Australia', 'Guinea', 'Vietnam', 'Sierra Leone', 'Qatar',
       'Armenia', 'Andorra', 'Togo', 'Cuba', 'Serbia', 'Bhutan',
       'Tanzania', 'Senegal', 'Greece', 'Solvakian',
       'Netherlands Antilles islands', 'Poland', 'South Korea',
       'Central African Republic', 'Azerbaijan', 'Sweden', 'Mauritius',
       'Gambia', 'Djibouti', 'Japan', 'Madeira Islands', 'Aruba',
       'Barbados', 'Kazakhstan', 'Croatia', 'Austria', 'Finland',
       'French Guiana', 'Faroe Islands', 'Bermuda', 'Liberia',
       'Venezuela', 'New Zealand', 'Colombia', 'Cambodia', 'Portugal',
       'Taiwan', 'Benin', 'Belarus', 'Caledonia', 'Turkmenistan',
       'Comoros Islands', 'Brazil', 'Cook Islands', 'Czech Republic',
       'Norway', 'Chile', 'Bulgaria', 'Macedonia', 'Angola', 'Mexico',
       'Panama', 'Cyprus', 'Nicaragua', 'Zambia', 'Balearic Islands',
       'Estonia', 'Papua New Guinea', 'Jamaica', 'Coasta Rican',
       'Liechtenstein', 'Suriname', 'Marshall Islands', 'United Nations',
       'Rwanda', 'Switzerland', 'Burma (Myanmar)', 'Zimbabwe',
       'Trinidad and Tobago', 'Hong Kong', 'Monaco', 'Peru', 'Bahamas',
       'Hungary', 'Fiji', 'Russia', 'Wallis and Futuna', 'Georgia',
       'Botswana', 'Palau', 'Gabon', 'Guam', 'Belize',
       'British Virgin Islands', 'Argentina', 'Slovenia', 'Netherlands',
       'Grenada', 'Macau', 'Iceland', 'Bolivia', 'East Timor', 'Moldova',
       'Lithuania', 'North Korea', 'Dominica', 'Nauru', 'Lesotho',
       'Ecuador', 'Gibraltar', 'United States', 'Uruguay', 'Montenegro',
       'Maldives', 'Diego Garcia', 'British Guyana', 'Cape Verde',
       'Luxembourg', 'Equatorial Guinea', 'Canary Islands', 'Haiti',
       'Puerto Rico', 'Dominican Republic', 'Samoa', 'Saint Helena',
       'Tahiti', 'Mongolia', 'Niue Islands', 'Saint Kitts and Nevis'],
      dtype=object)

In [339]:
stc_d['SAUDI_NON_SAUDI'].unique()

array(['Non-Saudi', 'Saudi'], dtype=object)

In [340]:
stc_d.drop(stc_d[(stc_d['SAUDI_NON_SAUDI']=='Male') | (stc_d['SAUDI_NON_SAUDI']== 'Female') | (stc_d['SAUDI_NON_SAUDI']== 'N')].index, axis=0,inplace=True)
stc_d

,CAL_DT,MODEL_NAME,BRAND_FULL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,BLUETOOTH_FLG,TOUCH_SCREEN_FLG,DUAL_SIM_FLG,GENDER_TYPE_CD,AGE_B,NATIONALITY_CD,NATIONALITY_NAME,SAUDI_NON_SAUDI,DEVICE_COUNT
0,1/31/2019,One x9,HTC One x9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,36-55,LKA,Sri Lanka,Non-Saudi,9
3,12/31/2019,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,18-25,BGD,Bangladesh,Non-Saudi,2
5,4/30/2020,Blade V7 Lite,ZTE Blade V7 Lite,ZTE,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,>55,IDN,Indonesia,Non-Saudi,1
6,8/31/2019,i6 Metal ONE,QMobile i6 Metal ONE,QMobile,Google,Android,Smartphone,Y,Y,N,Y,Y,Y,Y,Male,36-55,EGY,Egypt,Non-Saudi,1
8,6/30/2019,One M9,HTC One M9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,N,Male,26-35,SYR,Syria,Non-Saudi,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048568,3/31/2019,E4,QMobile E4,QMobile,QMobile,Proprietary,Mobile Phone,Y,N,N,N,Y,N,Y,Male,>55,SDN,Sudan,Non-Saudi,2
1048569,1/31/2019,F3,Oppo F3,Oppo,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,36-55,DZA,Algeria,Non-Saudi,1
1048572,5/31/2019,X2-00,Nokia X2-00,Nokia,Nokia,Proprietary,Mobile Phone,Y,N,N,N,Y,N,N,Male,36-55,SYR,Syria,Non-Saudi,16
1048573,7/31/2019,Desire 626 NFC Dual Sim,HTC Desire 626 NFC Dual Sim,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,>55,BGD,Bangladesh,Non-Saudi,7
1048574,6/30/2020,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,>55,SAU,Saudi Arabia,Saudi,53

In [341]:
stc_d['SAUDI_NON_SAUDI'].unique()

array(['Non-Saudi', 'Saudi'], dtype=object)

In [342]:
stc_d['DEVICE_COUNT'].unique()

array(['9', '2', '1', ..., '32685', '602', '12023'], dtype=object)

In [343]:
stc_d["CAL_DT"]=pd.to_datetime(stc_d["CAL_DT"]).dt.strftime('%Y')

In [344]:
stc_d.head()

,CAL_DT,MODEL_NAME,BRAND_FULL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,BLUETOOTH_FLG,TOUCH_SCREEN_FLG,DUAL_SIM_FLG,GENDER_TYPE_CD,AGE_B,NATIONALITY_CD,NATIONALITY_NAME,SAUDI_NON_SAUDI,DEVICE_COUNT
0,2019,One x9,HTC One x9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,36-55,LKA,Sri Lanka,Non-Saudi,9
3,2019,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,18-25,BGD,Bangladesh,Non-Saudi,2
5,2020,Blade V7 Lite,ZTE Blade V7 Lite,ZTE,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,>55,IDN,Indonesia,Non-Saudi,1
6,2019,i6 Metal ONE,QMobile i6 Metal ONE,QMobile,Google,Android,Smartphone,Y,Y,N,Y,Y,Y,Y,Male,36-55,EGY,Egypt,Non-Saudi,1
8,2019,One M9,HTC One M9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,N,Male,26-35,SYR,Syria,Non-Saudi,21

In [345]:
stc_d.drop(columns="BRAND_FULL_NAME",axis=1,inplace=True)

In [346]:
stc_d.drop(columns="NATIONALITY_CD",axis=1,inplace=True)

In [347]:
stc_d["CAL_DT"]=pd.to_datetime(stc_d["CAL_DT"])

In [348]:
stc_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714023 entries, 0 to 1048574
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CAL_DT            714023 non-null  datetime64[ns]
 1   MODEL_NAME        714023 non-null  object
 2   BRAND_NAME        714023 non-null  object
 3   VENDOR_NAME       714023 non-null  object
 4   OS_NAME           714023 non-null  object
 5   DEVICE_TYPE       714023 non-null  object
 6   _2G_FLG           714023 non-null  object
 7   _3G_FLG           714023 non-null  object
 8   _4G_FLG           714023 non-null  object
 9   WIFI_FLG          714023 non-null  object
 10  BLUETOOTH_FLG     714023 non-null  object
 11  TOUCH_SCREEN_FLG  714023 non-null  object
 12  DUAL_SIM_FLG      714023 non-null  object
 13  GENDER_TYPE_CD    714023 non-null  object
 14  AGE_B             714023 non-null  object
 15  NATIONALITY_NAME  714023 non-null  object
 16  SAUDI_NON_SAUDI   714023 non-null  object
 17  DEVICE_COUNT      714023 non-null  object
dtypes: datetime64[ns](1), object(17)
memory usage: 119.6+ MB

In [349]:
stc_d["DEVICE_COUNT"]=stc_d["DEVICE_COUNT"].astype(str).astype(int)

In [350]:
stc_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714023 entries, 0 to 1048574
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CAL_DT            714023 non-null  datetime64[ns]
 1   MODEL_NAME        714023 non-null  object
 2   BRAND_NAME        714023 non-null  object
 3   VENDOR_NAME       714023 non-null  object
 4   OS_NAME           714023 non-null  object
 5   DEVICE_TYPE       714023 non-null  object
 6   _2G_FLG           714023 non-null  object
 7   _3G_FLG           714023 non-null  object
 8   _4G_FLG           714023 non-null  object
 9   WIFI_FLG          714023 non-null  object
 10  BLUETOOTH_FLG     714023 non-null  object
 11  TOUCH_SCREEN_FLG  714023 non-null  object
 12  DUAL_SIM_FLG      714023 non-null  object
 13  GENDER_TYPE_CD    714023 non-null  object
 14  AGE_B             714023 non-null  object
 15  NATIONALITY_NAME  714023 non-null  object
 16  SAUDI_NON_SAUDI   714023 non-null  object
 17  DEVICE_COUNT      714023 non-null  int32
dtypes: datetime64[ns](1), int32(1), object(16)
memory usage: 116.9+ MB

In [351]:
le = preprocessing.LabelEncoder()
stc_d["2G_FLG"]=le.fit_transform(stc_d["_2G_FLG"])
stc_d["3G_FLG"]=le.fit_transform(stc_d["_3G_FLG"])
stc_d["4G_FLG"]=le.fit_transform(stc_d["_4G_FLG"])
stc_d["WIFI"]=le.fit_transform(stc_d["WIFI_FLG"])
stc_d["BLUETOOTH"]=le.fit_transform(stc_d["BLUETOOTH_FLG"])
stc_d["TOUCH_SCREEN"]=le.fit_transform(stc_d["TOUCH_SCREEN_FLG"])
stc_d["DUAL_SIM"]=le.fit_transform(stc_d["DUAL_SIM_FLG"])
stc_d["GENDER"]=le.fit_transform(stc_d["GENDER_TYPE_CD"])
stc_d["MODEL"]=le.fit_transform(stc_d["MODEL_NAME"])
stc_d["BRAND"]=le.fit_transform(stc_d["BRAND_NAME"])
stc_d["VENDOR"]=le.fit_transform(stc_d["VENDOR_NAME"])
stc_d["OS"]=le.fit_transform(stc_d["OS_NAME"])
stc_d["DEVICE"]=le.fit_transform(stc_d["DEVICE_TYPE"])
stc_d["AGE"]=le.fit_transform(stc_d["AGE_B"])
stc_d["NATIONALITY"]=le.fit_transform(stc_d["NATIONALITY_NAME"])
stc_d["SAUDI"]=le.fit_transform(stc_d["SAUDI_NON_SAUDI"])

In [352]:
stc_d.head()

,CAL_DT,MODEL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,...,DUAL_SIM,GENDER,MODEL,BRAND,VENDOR,OS,DEVICE,AGE,NATIONALITY,SAUDI
0,2019-01-01,One x9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,...,1,1,510,68,40,0,1,2,168,0
3,2019-01-01,C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,...,0,1,244,118,68,5,1,0,16,0
5,2020-01-01,Blade V7 Lite,ZTE,Google,Android,Smartphone,Y,Y,Y,Y,...,1,0,231,186,40,0,1,4,88,0
6,2019-01-01,i6 Metal ONE,QMobile,Google,Android,Smartphone,Y,Y,N,Y,...,1,1,794,133,40,0,1,2,62,0
8,2019-01-01,One M9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,...,0,1,488,68,40,0,1,1,173,0

In [359]:
stc_d.drop(columns="_3G_FLG",axis=1,inplace=True)
stc_d.drop(columns="_2G_FLG",axis=1,inplace=True)
stc_d.drop(columns="DATE",axis=1,inplace=True)
stc_d.drop(columns="_4G_FLG",axis=1,inplace=True)
stc_d.drop(columns="WIFI_FLG",axis=1,inplace=True)
stc_d.drop(columns="MODEL_NAME",axis=1,inplace=True)
stc_d.drop(columns="OS_NAME",axis=1,inplace=True)
stc_d.drop(columns="VENDOR_NAME",axis=1,inplace=True)
stc_d.drop(columns="BRAND_NAME",axis=1,inplace=True)
stc_d.drop(columns="DEVICE_TYPE",axis=1,inplace=True)
stc_d.drop(columns="SAUDI_NON_SAUDI",axis=1,inplace=True)
stc_d.drop(columns="NATIONALITY_NAME",axis=1,inplace=True)
stc_d.drop(columns="AGE_B",axis=1,inplace=True)
stc_d.drop(columns="GENDER_TYPE_CD",axis=1,inplace=True)
stc_d.drop(columns="DUAL_SIM_FLG",axis=1,inplace=True)
stc_d.drop(columns="TOUCH_SCREEN_FLG",axis=1,inplace=True)
stc_d.drop(columns="BLUETOOTH_FLG",axis=1,inplace=True)

In [362]:
stc_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714023 entries, 0 to 1048574
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CAL_DT        714023 non-null  datetime64[ns]
 1   DEVICE_COUNT  714023 non-null  int32
 2   2G_FLG        714023 non-null  int32
 3   3G_FLG        714023 non-null  int32
 4   4G_FLG        714023 non-null  int32
 5   WIFI          714023 non-null  int32
 6   BLUETOOTH     714023 non-null  int32
 7   TOUCH_SCREEN  714023 non-null  int32
 8   DUAL_SIM      714023 non-null  int32
 9   GENDER        714023 non-null  int32
 10  MODEL         714023 non-null  int32
 11  BRAND         714023 non-null  int32
 12  VENDOR        714023 non-null  int32
 13  OS            714023 non-null  int32
 14  DEVICE        714023 non-null  int32
 15  AGE           714023 non-null  int32
 16  NATIONALITY   714023 non-null  int32
 17  SAUDI         714023 non-null  int32
dtypes: datetime64[ns](1), int32(17)
memory usage: 73.3 MB

In [363]:
stc_d.head()

,CAL_DT,DEVICE_COUNT,2G_FLG,3G_FLG,4G_FLG,WIFI,BLUETOOTH,TOUCH_SCREEN,DUAL_SIM,GENDER,MODEL,BRAND,VENDOR,OS,DEVICE,AGE,NATIONALITY,SAUDI
0,2019-01-01,9,1,1,1,1,1,1,1,1,510,68,40,0,1,2,168,0
3,2019-01-01,2,1,1,0,1,1,1,0,1,244,118,68,5,1,0,16,0
5,2020-01-01,1,1,1,1,1,1,1,1,0,231,186,40,0,1,4,88,0
6,2019-01-01,1,1,1,0,1,1,1,1,1,794,133,40,0,1,2,62,0
8,2019-01-01,21,1,1,1,1,1,1,0,1,488,68,40,0,1,1,173,0